<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">亞洲技術研討會清單</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="add.html">新增您的活動</a></li>
      <li><a href="contact.html">聯絡我們</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="add.html">新增您的活動</a></li>
      <li><a href="contact.html">聯絡我們</a></li>
    </ul>
  </div>
</nav>


